@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body{
  font-size: 50px;
  margin: 0 auto;
 font-family: 'Roboto', sans-serif;
 text-align: center;
}

aside{
  background-color: #020203;
  height: 1024px;
  width: 117px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.athleteButton span{
  border: solid 2px black;
  border-radius: 15px;
  margin-right: 50px;
  text-align: center;
  width:200px;
  margin-bottom: 25px;
}
.athleteButton span:hover {
  background-color: black;
  color:#FFFFFF;
}
.red {
  color: #FF0101;
 
}
#Bonjour {
  font-weight: 500;
  width:fit-content;
  position: absolute;
  left: 255px;
  top: 119px;
}
#Calories,
#Glucides,
#Lipides,
#Proteines{
  width: 60px;
  height: 60px;
  border-radius: 6px;
  mix-blend-mode: normal;
  position: relative;
  top: 32px;
  left:32px;
}
#Calories img,
#Glucides img,
#Lipides img,
#Proteines img{
  top:18px;
  position: absolute;
  left:22px;
}
#Calories {
  background: #ffdcdc;
}
.recharts-wrapper{
  position: relative;
  left: 245px;
  top: 80%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: #FF0000;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}
.barChartTitle {
  font-size: 15px;
  font-weight: 500;
  color:#20253A;
  position: absolute;
  left: 290px;
  z-index: 1;
}
.customLinechart{
  display: block;
  position: absolute;
  width: 170px;
  left: 280px;
  z-index: 1;
  bottom: 12%;
  color: #FFFFFF;
  opacity: 0.5;
  text-align: left;
  font-weight: 500;
  font-size: 15px;}
  .barChartscoreDiv {
    position: absolute;
    z-index: -1;
    
    bottom: 350px;
    
  }
  .barChartscoreDiv svg {
    padding: 50px;
    border-radius: 5px;
    background: #FBFBFB;
  }
#Proteines {
 background: rgba(74, 184, 255, 0.1);;
}

#Glucides {
  background:rgba(249, 206, 35, 0.2);
}
.custom-tooltip{
  background-color: #FFFFFF;
  font-size: 11px;
  font-weight: 500;
  line-height: 23px;
  width: 39px;
  height: 25px;
  border-radius: 5px;
}
#Lipides {
  background: rgba(253, 81, 129, 0.1);
}
.greyPolicy{
  font-weight: 500;
  color: #74798C;
  font-size: 14px;
}

.Calories,
.Glucides,
.Lipides,
.Proteines {
  width: 258px;
  height: 124px;
  margin-bottom: 39px;
  background-color: #FBFBFB;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
border-radius: 5px;


}

.categories{
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  right: 5%;
  top: 38%;
}
.lateral{
  display: inline-block;
  width: 200px;
  padding-bottom: 77px;
  margin-top: 164px ;
  color: #FFFFFF;
  font-size: 12px;
  transform: rotate(-90deg);
  font-weight: 500;

}
.categories span {
position: relative;
left: 15px;
bottom:20px;
}
.insentive{
  font-size: 18px;
  display: block;
  width:fit-content;
  position: absolute;
  left: 252px;
  top: 252px;
}

.headerDiv {
  background-color: #020203;
  height: 91px;
  font-size: 24px;
  color: white;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#titleID {
  margin-left: 15px;
  margin-bottom: 12px;
}
.logoDiv {
width: 200px;
padding-top: 20px;
padding-left: 20px;
}
.navigationHeader {
  display: flex;
  position: relative;
  bottom: 50px;
  margin-left: 149px;
  justify-content:space-evenly;
  
}

span {
  color:#020203;
}
a {
  margin-bottom: 20px;

  text-decoration: none;
  color: white;
}

.asideNav {
  display: flex;
  padding: 26px;
  flex-direction: column;
}


#zen{
  margin-top: 250px;
}
#zen,
#swim,
#strength,
#bike{
  


  display: block;
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  border-radius: 6px;
  position: relative;
  

}

aside img {
  position: absolute;
  top:17px;
  left: 15px;
}